body {
    font-family: 'Inter', sans-serif;
    font-size: 16px;         
    color: #1b1b1b;          
    background-color: whitesmoke; 
    padding: 10px;
    font-weight: 400;
}


h1 {
    font-size:30px;
    margin-bottom: 10px;
    color: #333;
}

p {
    margin-bottom: 16px; 
    line-height: 1.7;     
}

#mobile-outline {
   outline: 10px double #333;
   max-width: 412px;
   margin: 20px auto 20px auto;
   border-radius: 10px;
   box-sizing: border-box;
} 

.grid-img {
    width: 100%;          
    height: auto;         
    margin-bottom: 10px;   
    border-radius: 8px;    
}

h1.box {
   text-align: center;
   letter-spacing: 2px;
}

#branding {
   background-color: orange;
   padding: 2px 4px;
   border-radius: 8px;
   display: inline-block;
   box-shadow: 2px 2px 2px blue;
   margin-right: 6px;
}










